<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoGameStore</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <style>
        .navbar {
            background-color: #242739;
            color: white;
            font-family: Arial, sans-serif;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
        }

        .navbar-nav {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .nav-item {
            margin-right: 20px;
        }

        .nav-link {
            text-decoration: none;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

            .nav-link:hover {
                color: #8e44ad;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Main" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Cart" class="nav-link">
                        Cart
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Account/Logout" class="nav-link">
                        Sign out
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
